<h1>Blog Posts</h1>
<% @posts.each do |post| %>
	<div class="well">
		<h3><%= post.title %></h3>
		<p><%= post.body %>  </p>
		<%= link_to "Читать далее", post_path(post), :class => 'btn btn-default' %>
	</div>
<% end %>
<%= a=[39.3,40.2,41,37.1,36.9,40.3,42.0,47.1,44.7,41.6,44.1,43.4,36.1] %>
<div class="well">
<% sum, max, min, size, mid_s, sumR, max_min, s_m, v_m, k_t = @p1.sum_p a %>
<%=  "Максимальное значение = #{max}" %><br>
<%=  "Минимальное значение = #{min}" %><br>
<%=  "Количество значений = #{size}" %><br>
<%=  "Среднее значение = #{mid_s}" %><br>
<%=  "Сумма разностей квадратов = #{sumR}" %><br>
<%=  "Размах единичных значений = #{max_min}" %><br>
<%=  "Среднее кввадратическое отклонение = #{s_m}" %><br>
<%=  "Коэффициент вариации = #{v_m}" %><br>
<%=  "Коэффициент требуемой прочности = #{k_t}" %><br>
</div>
<div class="well">
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>№п/п</th>
                  <th>Дата изготовления</th>
                  <th>Прочность серии образцов Ri, МПа</th>
                  <th>Фактическая прочность Rm, МПа</th>
                  <th>(Ri-Rm)2</th>
                  <th>Размах единичных значений Wm, МПа</th>
                  <th>Среднее квадротическое отклонение Sm, МПа</th>
                  <th>Коэффициент вариации Vm, %</th>
                  <th>Коэффициент требуемой прочности Кт</th>
                  <th>Требуемая прочность Rt, МПа</th>
                </tr>
              </thead>
              <tbody>
              <% a.each_with_index do |element, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= current_time = DateTime.now.strftime "%d/%m/%Y" %></td>
                  <td><%= element %></td>
                  <td></td>
                  <td><%= ((element-mid_s)**2).round(1) %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
               <% end %>
               	<tr>
                  <td></td>
                  <td></td>
                  <td><%= sum %></td>
                  <td><%= mid_s %></td>
                  <td><%= sumR %></td>
                  <td><%= max_min %></td>
                  <td><%= s_m %></td>
                  <td><%= v_m %></td>
                  <td><%= k_t %></td>
              </tbody>
            </table>
          </div>
</div>